
*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 90vh;
}
/* ZONA CONTATTI */
.contacts-row {
  width: 15vw;
  height: 90vh;

  border-right: 1px solid black;

  background-color: #ffece6;

  float: left;
}

.user{
  width: 15vw;
  content: "";
  display: table;
  clear: both;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;


}

.user-logo {
  width: 25px;
  height: 25px;

  border-radius: 100%;
}
/* ZONA MESSAGGI */
.messages-row {
  width: 85vw;
  height: 90vh;

  border-left: : 1px solid black;

  background-image: url('../img/chatBK.jpg');
  background-size: contain;

  float: right;
}

footer {
  content: "";
  clear: both;
  display: table;
}
