<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script  src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <div id="app" class="container">

      <!-- barra dei contatti di sinistra -->
      <div class="contacts-row">

        <div class="personal-info">

          <img src="img/boolzapp.png">

        </div>

        <div class="contacts-zone">

            <ul>
              <li v-for="(contact, index) in contacts" @click="slectUser(index)" :class="index == activeIndex ? 'active' : ''" class="user">
                <img class="user-logo" v-bind:src="contact.avatar">
                <span class="user-name">{{ contact.name }}</span>
              </li>
            </ul>
          </div>

          </div>





      <!-- barra dei messaggi di destra -->
      <div class="messages-row">

        <ul>
          <li v-for="message in contacts[activeIndex].messages" class="spk">
           {{ message.text }}
          </li>
        </ul>

        <ul>
          <li v-for="chat in myChat" class="spk s-green">
            {{ chat.text }}
          </li>
        </ul>

      </div>



      <!-- input dei messaggi dall'utente -->
      <div class="und-container">
        <input id="msg" v-model="myMsg" type="text" name="messaggi" placeholder="Cosa vuoi scrivere?">
        <button id="send" type="button" name="send" @click="newMsg">
          <img src="img/right-arrow.png">
        </button>
      </div>

    </div>

  </div>
  </body>
</html>
